/** @format */

.topContainer {
  font-family: "Open Sans", sans-serif;
}

.singleLetter {
  color: #ffffff;
  font-size: 41.6px;
  font-weight: 900;
  padding: 0px 5px;
}
.yellow {
  background-color: #ffb400;
}
.red {
  background-color: #ff5a5f;
}
.green {
  background-color: #8ce071;
}
.lightBlue {
  background-color: #00d1c1;
}
.teal {
  background-color: #007a87;
}
.purple {
  background-color: #7b0051;
}

.multipleLetter {
  font-size: 41.6px;
  font-weight: 700;
  margin-left: 10px;
}

.RulesContainer {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules {
  cursor: pointer;
}

.text {
  margin: 10px 35%;
  border: 1px solid black;
  padding: 10px;
}
